.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;          /* Chrome, Safari, Opera */
}

.grid-container {
  display: grid;
  gap: 2px;
  min-width: 20vw;
  max-width: 50vw;
  padding: 2px;
  z-index: 99;
  /* padding: 20px; */
  /* max-width: 80vw; */
  /* max-height: 80vh; */
  margin: 0 auto;
  /* border: 4px solid #d7dadc; */
  /* border-radius: 8px; */
  background-color: #1a1a1b;
  overflow: visible;
  /* overflow-y: auto;
  overflow-x: hidden; */
}

